* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  background: #121214;

  font-family: "Mulish", sans-serif;

  padding: 7.2rem 10.4rem;
}

.card {
  border-radius: 8px;
  border: 2px solid #323238;
  background: #202024;
}

.card h2 {
  color: #e1e1e6;
  font-size: 3.6rem;
  font-weight: 900;

  padding: 2.4rem 3.2rem;
}

.card p {
  color: #c4c4cc;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: normal;

  padding: 2.4rem 3.2rem 3.2rem;
}
